section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

article {
    width: calc(20% - 1%);
    margin-bottom: 10px;
}

img {
    width: 100%;
}

article:hover {
    scale: 105%;
}