body {
    background-color: rgb(29, 26, 26);
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    margin-top: 0.5rem;
    padding-left: 1rem;
    position: fixed;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
    color: white;
}

header {
    width: 100%;
    display: flex;
    height: 5rem;
    position: fixed;
    background-color: black;
    z-index: 99;
    box-shadow: 0 0 100px rgb(175, 169, 169);
}

header nav {
    display: flex;
    flex-direction: row;
    margin: auto;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}

#croixHeader {
    display: none;
    position: fixed;
    right: 15px;
    top: 0;
    font-size: 3.5rem;
    color: white;
    z-index: 999;
    text-decoration: none;
}


#menuBurger {
    display: none;
    position: fixed;
    right: 15px;
    top: 0;
    width: 3.5rem;
    height: 3.5rem;
}

#menuBurger img{
    width: 100%;

}

.plus a {
    text-decoration: none;
    color: rgb(255, 36, 36);
    font-size: 25px;
    transition: 0.5s;
}

a:hover {
    color: coral;
}


main {
    padding-top: 6rem;
    margin-left: 5%;
    margin-right: 5%;
}

.plus {
    position: relative;
    text-align: right;
}

.plus p {
    display: inline;
}

footer p {
    text-align: center;
    color: white;
}


select {
    text-align: center;
}

.cote {
    position: fixed;
    top: 0;
    left: 0;
    width: 0.3%;
    height: 100vh;
    background-color: black;
}

/* tablette paysage */
@media (max-width:1080px) {
    .titre {
        display: none;
    }

    header ul {
        width: 100%;
        justify-content: space-around;
        padding-left: 0;
    }

    header nav {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

/* tablette portrait */
@media (max-width:850px) {
    header ul {
        gap: 0;
    }
}

/* mobile  */
@media (max-width:450px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1px;
    }

    /* Header */
    header {
        width: 100%;
        height: 100%;
        background: rgba(000, 000, 000, 0.9);
    }

    header nav {
        margin: 0;
    }

    header ul {
        flex-direction: column;
        justify-content: space-evenly;
    }

    header ul li {
        font-size: 2.5rem;
    }

    #menuBurger {
        display: initial;
    }

    header {
        display: none;
    }

    main {
        padding: 2rem;
    }
}