/* Styles pour le menu mobile */
.menu-mobile {
    display: none;
  }
  
  .burger-icon {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menu-mobile-items {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 5rem);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-mobile-items li {
    margin: 1rem 0;
  }
  
  .menu-mobile-items a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }
  
  #burger-toggle:checked ~ .menu-mobile-items {
    transform: translateY(0%);
  }
  
  @media screen and (max-width: 768px) {
    .menu-desktop {
      display: none;
    }
  
    .menu-mobile {
      display: block;
    }
  }